



<footer class="bg-primary text-white py-3">
    <div class="container">
        <!-- <div class="row"> -->
            <!-- <div class="col-md-4">
                <h5>About Us</h5>
                <p>HSE Management System is dedicated to ensuring workplace safety and environmental compliance.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">Services</a></li>
                    <li><a href="#" class="text-white">About</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <address>
                    123 Safety Street<br>
                    Secure City, SC 12345<br>
                    Email: info@hsemanagement.com<br>
                    Phone: (123) 456-7890
                </address>
            </div>
        </div> -->
        <!-- <hr class="my-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 HSE Management System. All rights reserved.</p>
            </div>
        </div> -->
    </div>
</footer>
